@model AdViewModel
<div class="row" style="min-height: 80vh; display:flex; align-items: center;">

    <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
        <h2>New Ad</h2>
        <form method="post" action="/home/newad">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" placeholder="Phone Number" class="form-control" name="phonenumber" />
                </div>
                <input type="hidden" id="@Model.UserId" />
            </div>
            <br />
            <textarea name="description" class="form-control" rows="10" placeholder="Description"></textarea>
            <button class="btn btn-primary w-100 btn-lg">Submit</button>
        </form>
    </div>
</div>