<div class="row" style="min-height: 80vh; display:flex; align-items: center;">

    <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
        <h1>Sign up!</h1>
        <form method="post" action="/account/signup">
            <input type="text" class="form-control" name="name" placeholder="Your Name..." />
            <br />
            <input type="text" class="form-control" name="email" placeholder="Email" id="email" />
            <br />
            <input type="password" class="form-control" name="password" placeholder="Password" />
            <br />
            <button class="btn btn-primary w-100 btn-lg">Sign up!</button>
        </form>
    </div>

</div>